button:focus {
  outline: none;
}

.player {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 298px;
  box-shadow: 3px 3px 3px grey;
}

.player .video-container {
  flex-grow: 1;
}

.player .button-wrapper {
  background-color: black;
}

.player-button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  padding: 2px 0px;
  cursor: pointer;
  width: 18px;
}

.mute-button {
  font-size: 12px;
}

.fullscreen-button {
  font-size: 14px;
}

.player .button-wrapper {
  display: flex;
  align-items: center;
}

.blank {
  flex-grow: 1;
}

.current-time, .duration {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 8px;
}

.current-time {
  padding-left: 1px;
}

.progress {
  height: 3px;
  border-radius: 1px;
  cursor: pointer;
}

.time-progress {
  display: flex;
  flex-grow: 1;
  margin: 0 5px;
}

.viewed-progress {
  background-color: #f8104d;
}

.progress .circle {
  opacity: 0;
  height: 4px;
  width: 4px;
  background-color: #f8104d;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid white;
  margin-left: -2px;
  margin-top: -2px;
  transition: opacity 300ms ease-in;
}

.time-progress:hover .circle {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

