button:focus {
  outline: none;
}

.player {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 5px 7px 4px grey;
}

.player .video-container {
  flex-grow: 1;
}

.player .button-wrapper {
  background-color: black;
}

.player-button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  cursor: pointer;
  width: 37px;
  height: 39px;
}

.mute-button {
  font-size: 12px;
}

.fullscreen-button {
  font-size: 14px;
}

.player .button-wrapper {
  display: flex;
  align-items: center;
}

.blank {
  flex-grow: 1;
}

.current-time, .duration {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}

.current-time {
  padding-left: 1px;
}

.progress-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;;
}

.timeline {
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.full-progress {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 10px;
}

.viewed-progress {
  background-color: #f8104d;
  height: 5px;
}

.timeline .circle {
  opacity: 0;
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid white;
  margin-left: -4px;
  margin-top: -2px;
  transition: opacity 300ms ease-in;
}

.full-progress:hover .circle {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

