.player {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player__video-container {
  flex-grow: 1;
}

.player__button-wrapper {
  background-color: black;
}

.player__button {
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  height: 40px;
  width: 40px;
  font-size: 18px;
}

.player__left-group_buttons.player__button:not(:last-child) {
  margin-right: 5px;
}

.player__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

